body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
#main-heading{
    color: brown
    
}

.sub-heading {
  color: rgb(128, 128, 128);
}

.note {
  color: rgb(21, 255, 0);
}

.box {
  border: 2px solid black;
  padding: 10px;
  margin-top: 15px;
}

.student {
  margin: 5px 0;
}

.highlight {
  background-color: rgb(188, 188, 36);
  font-weight: bold;
}

.hidden {
  display: none;
}

.buttons {
  margin-top: 15px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
}
